Source: at-spi2-core
Section: misc
Priority: optional
Maintainer: Debian Accessibility Team <debian-accessibility@lists.debian.org>
Uploaders: Mario Lang <mlang@debian.org>
Vcs-Browser: http://git.debian.org/?p=pkg-a11y/at-spi2-core.git;a=summary
Vcs-Git: git://git.debian.org/git/pkg-a11y/at-spi2-core.git
Homepage: http://live.gnome.org/Accessibility/GNOME3
Build-Depends: debhelper (>= 7.0.50),
               libdbus-1-dev, libdbus-glib-1-dev,
               libglib2.0-dev,
               libxtst-dev
Standards-Version: 3.9.1

Package: at-spi2-core
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Assistive Technology Service Provider Interface (dbus core)
 This package contains the core components of GNOME Accessibility.
